<%= stylesheet_link_tag "users", "data-turbo-track": "reload" %>
<div class="user-container">
  <div class="user-discription">
    <div class="icon-container">
      <img class="big-icon user-icon" src="<%= @icon %>" alt="">
    </div>
    <div class="discription-container">
      <div class="name"><span><%= @user.user_name %></span>@<%= @user.user_id %></div>
      <% if @user.uniqid == @myself.uniqid then %>
      <a class="gray-button" href="/settings/profile">プロフィールを編集</a>
      <% end %>
      <div class="communities">
        <% @path_list.reverse_each do |path_list| %>
        <% path_list.reverse_each do |path| %>
        /<a href="/community/<%= Group.find_by(uniqid:path).uniqid %>"><%= Group.find_by(uniqid:path).name %></a>
        <% end %><br>
        <% end %>
      </div>
    </div>
    <div class="tab-buttons">
      <a class="tab-button" id="posts-tab-button" href="/@<%= @user.user_id %>">投稿</a>
      <a class="tab-button" id="groups-tab-button" href="/@<%= @user.user_id %>/groups">所属コミュニティ</a>
    </div>
  </div>
  <% case @tab %>
  <% when "posts" %>
  <style media="screen">
    #posts-tab-button{
      font-weight: bold;
      border-bottom: 5px solid #ff6100;
    }
  </style>
  <% @posts = Post.where(user_uniqid:@user.uniqid).order(updated_at: :desc) %>
  <% @posts.each do |post| %>
  <% @post = post %>
  <%= render 'template/post' %>
  <% end %>
  <% when "groups" %>
  <style media="screen">
    #groups-tab-button{
      font-weight: bold;
      border-bottom: 5px solid #ff6100;
    }
  </style>
  <% end %>
</div>
