<%= stylesheet_link_tag "users", "data-turbo-track": "reload" %>
<div class="user-container">
  <div class="user-discription">
    <div class="icon-container">
      <img class="big-icon com-icon" src="/assets/icons/<%= @icon %>" alt="">
    </div>
    <div class="discription-container">
      <div class="name"><span><%= @community.name %></span></div>
      <% if @join_allow %>
      <% if @in_group %>
      <%= form_tag("/group_getout/#{session['uniqid']}/#{@community.uniqid}",class:"button-form") do %>
      <button class="gray-button" type="submit" name="button">参加済み</button>
      <a class="gray-button" style="margin-left:5px;" href="/community/create/<%= @community.uniqid %>">下層コミュニティを作成</a>
      <% end %>
      <% else %>
      <%= form_tag("/group_join/#{session['uniqid']}/#{@community.uniqid}",class:"button-form") do %>
      <button class="normal-button" type="submit" name="button">参加する</button>
      <% end %>
      <% end %>
      <% end %>
      <% flash[:msg] %>
      <div class="communities">
        <% @path.reverse_each do |path| %>
        <% group = Group.find_by(uniqid:path) %>
        /<a href="/community/<%= group.uniqid %>"><%= group.name %></a>
        <% end %>
      </div>
      <div class="">
        <a href="#" style="color:black;">メンバー：<%= @member_number %>人</a>
      </div>
    </div>
    <div class="tab-buttons">
      <a class="tab-button" href="/community/<%= @community.uniqid %>">基本情報</a>
      <a class="tab-button" href="/community/<%= @community.uniqid %>/included-communities">下層コミュニティ</a>
      <a class="tab-button" href="/community/<%= @community.uniqid %>">参加リクエスト</a>
    </div>
  </div>
  <% case @tab %>
  <% when "included-communities" %>
    <% @included_communities.each do |group| %>
      <%= group.name %>
    <% end %>
  <% end %>
</div>
